<p>secure-training works!</p>
<div *ngIf="datasetId">
    <p><strong>Dataset ID: </strong>{{ datasetId }}</p>
</div>
<div *ngIf="isTraining">
    <p>ICifrando y entrenando...</p>
</div>
<div *ngIf="results">
    <h3>Entrenamiento Finalizado</h3>
    <div class="stats-card">
        <ul>
            <li><strong>Tiempo de Cómputo:</strong> {{ results.training_time }}</li>
            <li><strong>Uso RAM Servidor (Inferencia/Train):</strong> {{ results.compute_ram }}</li>
            <li><strong>Uso RAM Cliente (Cifrado):</strong> {{ results.encryption_ram }}</li>
        </ul>
    </div>
</div>